body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', Verdana, sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.header-container {
    flex-basis: 75%; 
    display: flex;
    justify-content: space-between;
}

.header-left,
.header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-text {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800;
}

.header a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.header,
.hero {
    background-color: #1f2937;
}

.content {
    flex-grow: 1;
}

.hero {
    display: flex;
    justify-content: center;
    padding: 50px 0px 100px;
}

.hero-container {
    flex-basis: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.hero-header,
.hero-text {
    color: #f9faf8;
}

.hero-text {
    font-size: 18px;
}

.hero-header {
    font-size: 48px;
    font-weight: 800;
}

.hero-left {
    flex-basis: 45%;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-right {
    flex-basis: 45%;
    text-align: center;
}

.hero-signup-link {
    align-self: flex-start;
    background-color: #3882f6;
    color: #f9faf8;
    text-decoration: none;
    font-weight: 800;
    padding: 5px 30px;
    font-size: 18px;
    border-radius: 5px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0;
}

.info-header {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    text-align: center;
    flex-basis: 100%;
    margin-bottom: 50px;
}

.info-icon-row {
    flex-basis: 50%;
    display: flex;
    justify-content: space-between;
}

.info-icon-row-item {
    text-align: center;
    flex-basis: 200px;
}

.icon {
    margin-bottom: 10px;
}

.icon-text {
    font-size: 18px;
}

.bold-text {
    font-weight: 800;
    color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
    padding: 100px 0px;
    display: flex;
    justify-content: center;
}

.quote-attribution {
    text-align: right;
    font-size: 24px;
    font-weight: 800;
}

.quote-text {
    font-weight: 300;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    margin-bottom: 10px;
}

.action {
    padding: 50px 0px;
    display: flex;
    justify-content: center;
}

.action-banner {
    background-color: #3882f6;
    padding: 50px 100px;
    display: flex;
    gap: 150px;
    border-radius: 10px;
}

.action-header {
    color: #f9faf8;
    font-weight: 800;
    font-size: 24px;
}

.action-text {
    color: #e5e7eb;
    font-size: 18px;
}

.action-signup-link {
    color: #f9faf8;
    border: solid #f9faf8;
    text-decoration: none;
    font-weight: 800;
    align-self: center;
    padding: 5px 30px;
    font-size: 18px;
    border-radius: 5px;
}

.footer {
    padding: 30px 0px;
    text-align: center;
    background-color: #1f2937;
    color: #e5e7eb;
}

.footer a {
    color: #e5e7eb;
}

.disclaimer {
    margin-bottom: 10px;
}